<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

</style>
<section>
  <div class="header">
    <div class="ROW">
        <div class="col-md-6 col-xs-6 text-left">
            <div class="h-logo">
                <img src="assets/logo.png" />
                <!--<span class="logo-s"><img src="img/logo.png" /></span>-->
                <span class="logo-t">plant <br />safety</span>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 text-right">
            <div class="" style="display:inline-flex;">
                <div class="">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle user-b" data-toggle="dropdown" style="display:flex">
                            <div class="name-txt">
                                <span class="mn-txt">Susan Cross<br /><span class="rl-txt">EHS Manager</span></span>
                            </div>
                            <div class="userbox">
                                <img src="assets/User.png" />
                            </div>
                        </a>
                        <div class="dropdown-menu ">
                            <a href="#" class="dropdown-item alluser">
                                <div class="userbox1">
                                    <img src="assets/User.png" />
                                </div>
                                <div class="mn-txt">John Doe<br /><span class="rl-txt">Supervisor</span></div>
                            </a>
                            <a href="#" class="dropdown-item alluser">
                                <div class="userbox1">
                                    <img src="assets/User.png" />
                                </div>
                                <div class="mn-txt">Shahedk<br /><span class="rl-txt">Administrator</span></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="icon-r">
                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                    <span><i class="fa fa-bars" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>


</div>
</section>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>